[Unit]
Description=Radarr Service
After=network-online.target
Wants=network-online.target

[Service]
User=radarr
Group=media
UMask=002
EnvironmentFile=-/etc/default/radarr
ExecStart=/opt/radarr/Radarr -nobrowser -data=${RADARR_DATA:-/config}
Restart=on-failure
TimeoutStopSec=20
KillMode=process

[Install]
WantedBy=multi-user.target
